body {
    background-color: rgb(72, 106, 153);
    color: white;
    height: 100%;
}

html {
    height: 100%;
}

.nav_header {
    height: 80px;
    justify-content: space-between;
    display: flex;
    align-items: end;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 80px;
    padding: 0;
}

.login {
    color: white;
    font-size: 1.2em;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    display: flex;
    align-items: end;
    justify-content: center;
}

main {
    display: flex;
    min-height: 100%;
}

.list_salon, .online {
    width: 30%;
    border: 2px solid white;
}

.chat {
    width: 40%;
    border: 2px solid white;
}

.list_salon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.online {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title {
    font-size: 1em;
    border-bottom: 1px solid white;
    padding-left: 5px;
    margin-bottom: 0;
}

.div_input {
    position:absolute;
    width: 39.1%;
    bottom: -13%;
}

.input_chat {
    margin-top: 5px;
    margin-left: 3px;
	border-radius: 5px;
    border: none;
    width: 98%;
}

#login {
	width: 50%;
	margin: auto;
	text-align: center;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

.submit {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: rgb(72, 106, 153);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
    border: 1px solid white;
}

.login-error-msg {
	color: #D65353;
	opacity: 0;
}

.token-error-msg, .content-error-msg {
	color: #D65353;
	display: none;
}

.forgot-pass {
	text-decoration: underline;
	margin: auto;
}

.show {
	display: block;
}

.show_flex {
	display: flex;
}

.not_show {
	display: none;
}

.ul_salon {
    margin: 0;
}

.salon {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: rgb(62, 91, 132);
}

.message {
    display: flex;
    padding: 1px;
    border-top: 1px solid black;
    background-color: rgb(62, 91, 132);
    justify-content: space-between;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit
}

.pp {
    width: 40px;
    height: 40px;
    padding: 0;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    border: 3px solid white;
    object-fit: cover;
}

.but_online {
    display: flex;
    align-items: center;
    text-align: center;
}

.li_online {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom: 1px solid black;
    background-color: rgb(62, 91, 132);
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 15px;
    margin-right: 15px;
}

.input {
    display: flex;
    border-top: 1px solid white;
}

.send {
    width: 80px;
    font-family: 'Syne';
	font-weight: 700;
	background-color: rgb(72, 106, 153);
	text-align: center;
	border-radius: 60px;
    margin: 5px;
    border: 1px solid white;
    color: white;
}

.hour {
	font-size: 0.5em;
}
